PORT=8000
MONGODB_URI=mongodb+srv://sagarupadhyay106:YourPassword@sagarjsbackend.9annh.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=secretkeysu12scbdcs
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=secretkeysu12scbdcs
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=sagartest
CLOUDINARY_API_KEY=545828962518628
CLOUDINARY_SECRET_KEY=stxNqbKe0uzxzTHNn1WBnc7oCl0